@charset "UTF-8";

.kcalBox {
    width: 80%;
    height: 1500px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}

.kcalImg {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.kcalImg > img {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.kcalImgMent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
    font-size: 120px;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
}

.kcalTitle {
    background-color: #E27451;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.kcalTitle > button {
    border: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    letter-spacing: 2px;
}

.kcalTitle > button:hover {
    color: yellow;
    transform: scale(1.1);
    transition: .5s;
}

.kcalTitle button.active {
    color: yellow;
}

.kcalContent {
    display: none;
}
