@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

li {list-style-type: none;}

#mypageWrap {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;

    margin-top: 70px;
}

#mypageWrap .tabs {
    border-right: 2px solid #bbb;
    padding: 30px 0;
    width: 200px;
    min-width: 200px;
}

#mypageWrap .tabs .tabTitle {
    padding: 10px 0;
    padding-left: 20%;
    background-color: #bbb;
    font-weight: bold;
    font-size: 1rem;
}
#mypageWrap .tabs .tab {
    padding: 8px 0;
    padding-left: 20%;
    font-size: 1rem;
    cursor: pointer;
}
#mypageWrap .tabs .tab.selected {
    font-weight: bold;
}


#mypageWrap .contents {
    flex-grow: 1;
    padding: 25px 40px;
}

.contents .content {
    display: none;
}
.contents .content.selected {
    display: block;
}

.contents .subTitle {
    display: block;
    padding: 15px 0 10px 20px;
    border-bottom: 2px solid #bbb;
    font-size: 1.2em;
    font-weight: bold;
}
.contents .memberCon {
	height: 540px;
}
.contents .memberCon table {
    padding: 30px 10px 30px 50px;
    border-collapse: separate;
    border-spacing: 5px 20px;
}
.contents .memberCon th {
    width: 85px;
    min-width: 45px;
    font-weight: bold;
    text-align: left;
}

.memberCon input {
    padding: 2px 0 0 5px;
    border: 1px solid #ccc;
}
.emailCheckResult {
	font-size: 0.8rem;
}

#memberInfo {
	width: 100%;
}
.addr {margin-bottom: 5px;}
.addr1 {
    display: inline-block;
    width: 60px;
}
.addr2 {width: 221px;}

.findAddr {
    padding: 0 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.modifyMember {
    display: inline-block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
}


#modifyPw ul,
#withdraw ul {
    padding: 30px 10px 30px 50px;
}

#modifyPw ul li,
#withdraw ul li {
    margin-bottom: 20px;
}
#modifyPw ul li:last-child,
#withdraw ul li:last-child {
    margin-top: 60px;
    text-align: center;
}
#modifyPw ul li span:first-child,
#withdraw ul li span:first-child {
    display: inline-block;
    width: 130px;
    font-weight: bold;
}

#modifyPw .modifyPw {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
}

.wdNotice {
    font-size: 0.8rem;
    color: red;
}
.withdraw {
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
}


/* 쪽지함 */
#letter .letterTabs {
	display: flex;
	
}

#letter .letterTabs .ltab {
	flex-grow: 1;
	cursor: pointer;
	text-align: center;
	font-size: 1.2rem;
}
#letter .letterTabs .ltab.selected {
    font-weight: bold;
}

.lcon {
    display: none;
}
.lcon.selected {
    display: block;
}
#letter .lcon table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 5px 0;
	margin-top: 20px;
}
#letter table tbody td:nth-child(1) {
	width: 50px;
	text-align: center;
} 
#letter table tbody td:nth-child(2) {
	padding-left: 15px;
}
#letter table tbody td:nth-child(3) {
	text-align: center;
	width: 20%;
}
#letter table tbody td:nth-child(4) {
	text-align: center;
	width: 20%;
	min-width: 83px;
}
#letter table th{
	background-color: #eee;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}
#letter table td {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
#letter .clickable {
	cursor: pointer;
}
#letter .r_currPage,
#letter .s_currPage {
	font-weight: bold;
	text-decoration: underline;
}

.letterTitle:hover {
	cursor: pointer;
	text-decoration: underline;
}
#letterModalBg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}
#letterModal {
	width: 80%;
	max-width: 500px;
	height: 550px;
	background-color: #fff;
	border-radius: 20px;
	position: absolute;
	top: 30px;
  	left: 50%;
  	transform: translateX(-50%);
  	padding: 60px 30px 20px; 
}
#letterModal li {
	margin-bottom: 15px;
}
#letterModal li span {
	display: inline-block;
	width: 80px;
	font-weight: bold;
	margin-left: 10px;
}
#letterModal #lmSnick {
	width: fit-content;
	font-weight: normal;
	margin: 0;
}
#letterModal #letter-content {
	overflow: auto;
	margin: 0 auto;
	padding: 15px;
	resize: none;
	width: 100%;
}
#letterCloseBtn {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right:20px;
}
#replyBtn {
	padding: 5px 20px;
	font-size: 0.9rem;
}
#letterModal ul li:nth-child(5) {
	text-align: center;
}
td[data-ischeck='Y'] {
	color: #ccc;
}

#sendLetterBg {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 5;
	position: absolute;
	top: 0;
	left: 0;
}
#sendLetterModal {
	width: 80%;
	max-width: 500px;
	height: 500px;
	background-color: #fff;
	border-radius: 20px;
	position: absolute;
	top: 30px;
  	left: 50%;
  	transform: translateX(-50%);
  	padding: 60px 30px 20px; 
}
#sendCloseBtn {
	cursor: pointer;
	position: absolute;
	top: 20px;
	right:20px;
}
#sendLetterModal li {
	margin-bottom: 15px;
}
#sendLetterModal li span {
	display: inline-block;
	width: 80px;
	font-weight: bold;
}
#sendLetterModal #reply-recipient {
	border: none;
	font-size: 1rem;
}
#sendLetterModal #reply-title {
	padding: 5px 0 5px 15px;
	width: 100%;
}
#sendLetterModal #reply-content {
	overflow: auto;
	margin: 0 auto;
	padding: 15px;
	resize: none;
	width: 100%;
}
#replySubmit {
	padding: 5px 20px;
	font-size: 0.9rem;
}
#sendLetterModal ul li:nth-child(4) {
	text-align: center;
}





/* 타블렛 */
@media screen and (max-width:1023px) {



}


    /* 모바일 */
@media screen and (max-width:767px) {

#mypageWrap .contents {
    padding: 25px 20px;
}


.contents .memberCon table {
    padding: 30px 0px;
}

}