@charset "UTF-8";

.noticeBox {
    width: 80%;
    height: 1500px;
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
}

.noticeImg {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.noticeImg > img {
    width: 100%;
    height: 100%;
    filter: brightness(40%);
}

.noticeImgMent {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.9);
    font-size: 120px;
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
}

.noticeTitle {
    background-color: #6F1602;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: yellow;
    letter-spacing: 2px;
}